html {
  scroll-snap-type: y mandatory;
}
.app {
  background-color: #dddddd;
  height: 100vh;
  display: grid;
  place-items: center;
}
.appVideos {
  position: relative;
  height: 600px;
  overflow: scroll;
  width: 80%;
  max-width: 400px;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border-radius: 20px;
}
.appVideos::-webkit-scrollbar {
  display: none;
}
