.video {
  position: relative;
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
  background-color: #fff;
}

.videoPlayer {
  background-color: #ff0000;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
